/* * {
    transition: 0.1s all;
} */

body {
    /* font-family: 'Alata', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

.highlight {
    background: #fff18a;
}

.status-ok {
    background: #88f1ad;
}

.max-w-80-rem {
    max-width: 80rem;
}

.h-7p5 {
    height: 7.5rem;
}

.active\:heavy-gray:active {
    border-color: #a0aec0 !important;
    color: #2d3748 !important;
    transition: margin-top 50ms;
}

/*
    Took these from the awesome Hover.css library.
    Ref: https://ianlunn.github.io/Hover/
*/
.hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);

    -webkit-transition-duration: 0.28s;
    transition-duration: 0.28s;

    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
