body {
    font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 768px) {
    .app-main-page {
        min-width: 720px;
        max-width: 720px;
    }
}

.highlight {
    background: #fff18a;
}

.status-ok {
    background: #88f1ad;
}

.max-w-80-rem {
    max-width: 80rem;
}

.h-7p7 {
    height: 7.7rem;
}

.active\:heavy-gray:active {
    border-color: #a0aec0 !important;
    color: #2d3748 !important;
    transition: margin-top 50ms;
}

/*
    Took these from the awesome Hover.css library.
    Ref: https://ianlunn.github.io/Hover/
*/
.hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);

    -webkit-transition-duration: 0.10s;
    transition-duration: 0.10s;

    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .hvr-grow {
        -webkit-transform: perspective(0px) translateZ(0);
        transform: perspective(0px) translateZ(0);
        -webkit-transition-property: none;
        transition-property: none;
    }
    .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        -webkit-transform: none;
        transform: none
    }
}


.app-article-description:hover a {
    text-decoration: underline;
}


/* Article Badges */

.app-recent-article-badge {
    background-color: #fbd38d; /* orange-300 */
}

.app-recent-article-badge:hover {
    background-color: #f9c975;
}

.app-article-badge {
    background-color: #e2e8f0; /* gray-300 */
}

.app-article-badge:hover {
    background-color: #cbd5e0; /* gray-400 */
}

@media (max-width: 768px) {
    .app-article-badge {
        background-color: #cbd5e0; /* gray-400 */
    }

    .app-article-badge:hover {
        background-color: #bfc9d4;
    }
}
