{{define "header"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Web app</title>
        <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="/static/tailwind.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">
    </head>

    <body>


    <!-- Thin colored bar that looks cool ¯\_(ツ)_/¯ -->
    <div class="w-full h-1 bg-green-400"></div>


    <!-- Main Page -->
    <div class="app-main-page w-full m-auto p-4 sm:p2 antialiased">

        <!-- Header -->
        <header class="app-header w-full leading-tight sm:mt-4">

                <div class="flex items-center">
                    <h1 class="text-2xl leading-tight font-bold mr-1">
                        <a class="transition-colors duration-100 hover:text-gray-600" href="/">DACAbot</a>
                    </h1>
                    <div class="flex">
                        <img class="w-5 h-5 mx-1" src="/static/globe-showing-americas.png" alt="globe-showing-americas">
                        <img class="w-5 h-5 mx-1" src="/static/flag-united-states.png" alt="flag-united-states">
                    </div>
                </div>

                <div class="flex xleading-tight text-gray-700">DACA news articles from around the web</div>

                <div class="leading-loose font-mono text-gray-500 text-xs">v0.0.2</div>

        </header>

{{end}}
