{{define "articles"}}

    {{if .PartialPage}}
        <div class="flex justify-center">
            <hr class="w-full my-5 border-1 border-gray-400">
        </div>
    {{end}}

    {{range .Articles}}
        <!-- Article -->
        <div class="{{if .IsRecent}}app-recent-article{{else}}app-article{{end}} flex flex-col sm:flex-row w-full rounded-md my-4 bg-gray-200 sm:bg-transparent sm:border-none hvr-grow">
            <div class="w-full sm:w-1/4">
                <a class="flex" href="{{.URL}}" target="_blank">
                    <img
                        class="w-full {{if .Description}}h-7p7{{else}}h-20{{end}} rounded-tl rounded-tr sm:rounded-md object-cover object-center"
                        width="300"
                        loading="lazy"
                        alt="article-{{.ID}}-image"
                        src="{{if .LedeImg}}{{.LedeImg}}{{else}}https://via.placeholder.com/500X280/000000/ffffff?text={{.Source}}{{end}}"
                    >
                </a>
            </div>
            <div class="w-full sm:w-3/4 p-2 sm:pb-2 sm:pt-0 flex flex-col justify-between">
                <!-- title and description -->
                <div class="app-article-description leading-tight">
                    <p class="font-semibold text-md">
                        <a class="hidden sm:block transition-colors duration-100 ease-in-out hover:text-gray-800" href="{{.URL}}" title="{{.Title}}" target="_blank">{{.TitleDisplay}}</a>
                        <a class="block sm:hidden transition-colors duration-100 ease-in-out hover:text-gray-800" href="{{.URL}}" title="{{.Title}}" target="_blank">{{.Title}}</a>
                    </p>
                    <p class="text-sm sm:text-base text-gray-600 my-1">{{.DescriptionDisplay}}</p>
                </div>
                <!-- tags and published date -->
                <div class="text-sm mt-3">
                    <span class="inline-block mr-2 px-2 rounded-lg {{if .IsRecent}}app-recent-article-badge text-orange-800{{else}}app-article-badge text-gray-800{{end}}">
                        <a href="/?q={{.Source}}">#{{.Source}}</a>
                    </span>
                    <span class="text-gray-800">{{.PubDateDisplay}}</span>
                </div>
            </div>
        </div>
    {{end}}

    <input class="app-article-cursor" type="hidden" value="{{.PubDateCursor}}">
{{end}}
