{{define "footer"}}

        <!-- Footer -->
        <footer class="w-full flex justify-center">
            <a class="hover:underline" href="/recent">New</a>
            <span class="mx-3">·</span>
            <a class="hover:underline" href="/about">About</a>
            <span class="mx-3">·</span>
            <a class="hover:underline" href="/resources">Resources</a>
            <span class="mx-3">·</span>
            <a class="hover:underline" href="https://github.com/tunedmystic/dacabot" target="_blank">GitHub</a>
        </footer>

        <!-- Credits -->
        <div class="text-center text-gray-700 my-2">
            <a class="hover:underline" href="https://twitter.com/tunedmystic" target="_blank">Made by Sandeep</a> &nbsp;·&nbsp; <img class="w-4 h-4 inline-block" src="/static/slightly-smiling-face.png" alt="slightly-smiling-face">
        </div>

    </div> <!-- /Main Page -->

    </body>
</html>
{{end}}
