{{define "articles-not-found"}}
    <div class="app-no-results flex w-full rounded-lg my-12">
        <p class="flex m-auto items-center">
            <svg class="w-5 h-5 text-gray-500 fill-current mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 124">
                <g xmlns="http://www.w3.org/2000/svg">
                    <path d="M62,0C27.8,0,0,27.8,0,62s27.8,62,62,62s62-27.8,62-62S96.2,0,62,0z M62,109c-25.9,0-47-21.1-47-47c0-25.9,21.1-47,47-47   c25.9,0,47,21.1,47,47C109,87.9,87.9,109,62,109z"></path>
                    <path d="M65,23h-6c-3.3,0-6,2.7-6,6v41c0,3.3,2.7,6,6,6h6c3.3,0,6-2.7,6-6V29C71,25.7,68.3,23,65,23z"></path>
                    <circle cx="62" cy="91.5" r="9"></circle>
                </g>
            </svg>
            <span class="text-gray-600">Oops, no articles were found. Try searching for something else.</span>
        </p>
    </div>
{{end}}
