{{define "footer"}}

        <!-- Footer -->
        <footer class="text-center my-8">
            Made by <a class="underline" href="https://twitter.com/tunedmystic" target="_blank">Sandeep</a> &nbsp;·&nbsp; <img class="w-5 inline-block" src="/static/slightly-smiling-face.png" alt="slightly-smiling-face"> &nbsp;·&nbsp; <a class="underline" href="https://github.com/tunedmystic/dacabot" target="_blank">View it on GitHub</a>
        </footer>

    </div> <!-- /Main Page -->

    </body>
</html>
{{end}}
