{{define "footer"}}

        <!-- Footer -->
        <footer class="text-center mt-10">
            <a class="hover:underline" href="/about">About</a> &nbsp;·&nbsp; <a class="hover:underline" href="/status">Status</a> &nbsp;·&nbsp; <a class="hover:underline" href="https://github.com/tunedmystic/dacabot" target="_blank">GitHub</a>
        </footer>

        <!-- Credits -->
        <div class="text-center text-gray-700 my-2">
            Made by <a class="underline" href="https://twitter.com/tunedmystic" target="_blank">Sandeep</a> &nbsp;·&nbsp; <img class="w-4 h-4 inline-block" src="/static/slightly-smiling-face.png" alt="slightly-smiling-face">
        </div>

    </div> <!-- /Main Page -->

    </body>
</html>
{{end}}
