{{define "index"}}
{{template "header" .}}

<!-- Page container -->
<div class="my-6 sm:my-10">

    <!-- Search form -->
    <div class="mb-10">
        <form action="/" class="relative">
            <input
                id="search"
                class="appearance-none leading-normal block w-full transition-colors duration-100 ease-in-out focus:outline-none border border-transparent focus:bg-gray-100 focus:border-indigo-400 placeholder-gray-600 rounded-lg bg-gray-200 py-3 pr-4 pl-10"
                type="text"
                placeholder='Search DACA news (Press "/" to focus)'
                name="q"
                {{if .SearchText}}value="{{.SearchText}}"{{end}}
            >
            <div class="pointer-events-none absolute inset-y-0 left-0 pl-4 flex items-center">
                <svg class="fill-current pointer-events-none text-gray-600 w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path></svg>
            </div>
        </form>

        <div class="w-full flex justify-center mt-3">
            <a class="focus:outline-none rounded-full bg-indigo-100 hover:bg-indigo-200 text-indigo-700 px-1 sm:px-2 mx-1 sm:mx-2" href="/?q=Trump">#trump</a>
            <a class="focus:outline-none rounded-full bg-purple-100 hover:bg-purple-200 text-purple-700 px-1 sm:px-2 mx-1 sm:mx-2" href="/?q=Dreamer">#dreamer</a>
            <a class="focus:outline-none rounded-full bg-indigo-100 hover:bg-indigo-200 text-indigo-700 px-1 sm:px-2 mx-1 sm:mx-2" href="/?q=citizenship">#citizenship</a>
            <a class="focus:outline-none rounded-full bg-blue-100 hover:bg-blue-200 text-blue-700 px-1 sm:px-2 mx-1 sm:mx-2" href="/?q=COVID">#covid</a>
        </div>
    </div>

    <div id="articles">
        {{if .Articles}}
            {{template "articles" .}}
        {{else}}
            {{template "articles-not-found"}}
        {{end}}
    </div>

    {{if and .Articles .Pagination}}
        <button id="load-more" class="w-full py-2 rounded bg-gray-100 focus:outline-none hover:bg-gray-200 active:heavy-gray border border-gray-400">Load More</button>
    {{end}}

</div>

<script type="text/javascript">
const header = `
  _   _ _   _____ _                   _
 | | | (_) |_   _| |__   ___ _ __ ___| |
 | |_| | |   | | | '_ \\ / _ \\ '__/ _ \\ |
 |  _  | |   | | | | | |  __/ | |  __/_|
 |_| |_|_|   |_| |_| |_|\\___|_|  \\___(_)
\n\n`;

const pageSize = 6;

// ------------------------------------------------------------------
// Init
// ------------------------------------------------------------------

document.addEventListener('DOMContentLoaded', function() {
    console.log(header);

    // Focus on the query search input when the '/' key is pressed.
    document.addEventListener('keydown', keyBindings);

    var loadMore = document.querySelector("#load-more");
    if (loadMore !== null) {
        loadMore.addEventListener('click', loadMoreArticles);
    }
});


function loadMoreArticles() {
    var searchTerm = document.querySelector('#search').value;
    var articleCursor = [...document.querySelectorAll('.app-article-cursor')].pop().value;

    makeRequest(`/?q=${searchTerm}&before=${articleCursor}&fullpage=false`, html => {

        // Parse the articles returned.
        var doc = new DOMParser().parseFromString(html, "text/html");

        // Disable the 'Load More' button IF
        //   - empty HTML was returned
        //   - a full page size of results was not returned
        if (html.trim() === '' || doc.body.querySelectorAll('.app-article').length < pageSize) {

            // Disable the button.
            this.setAttribute('disabled', 'disabled');
            this.classList.remove('border-gray-400', 'hover:bg-gray-200');
            this.classList.add('text-gray-300');
        }

        // Append the new HTML.
        document.querySelector('#articles').innerHTML += html;
    }, 'when fetching more articles');
}


// ------------------------------------------------------------------
// Utils / Helper functions
// ------------------------------------------------------------------
const errMessage = (reason) => `Something went wrong ${reason}.`;

const makeRequest = (url, onSuccess, errorMessage) => {
    fetch(url)
    .then((response) => {
        if (!response.ok) { throw new Error(); }
        if (response.url.endsWith('/login/')) { throw new Error(notLoggedInErr); }
        return response.text();
    })
    .then(html => onSuccess(html))
    .catch((err) => {
        // If a custom message was caught, then use it. Else, construct the error message with the given reason.
        const errorMessageText = err.message ? err.message : errMessage(errorMessage);
        alert(errorMessageText);
    });
};

const keyBindings = (e) => {
  // Focus the input if the front slash if pressed.
  if (e.key == '/') {
    e.preventDefault();
    e.stopPropagation();
    const input = document.querySelector('input[name="q"]');
    if (input) {
      input.focus();
    }
  }
};

</script>

{{template "footer"}}
{{end}}
